{% extends "layout.html" %}

{% block content %}  <!-- en esta html es la pestaña en donde menciona a los creadores de este trabajo -->
    <div class="card">
  <div class="card-header">
    Listado de {{titulo}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      {% for i in data %}
        <p>{{ i }}</p>
      {% endfor %}
      <footer class="blockquote-footer">Creado por <cite title="">fabrizio Paiva, Belen Mareco y Oliva Mena</cite></footer>
    </blockquote>
  </div>
</div>
{% endblock content %}
