{% extends "layout.html" %}   <!-- un extends es importar el html que le decis, basicamente es un html creado basicamente -->

{% block content %}   <!-- block content es una funcion de flask, te permite editar un .html entonces todo lo que esta abajo es la construccion de nuestro layout.html , o sea nuestra pagina principal, es importar a layout.html y es indexado gracias a flask-->
    <h1 class="text-center font-weight-bold" style="color: white;text-decoration: underline;font-style: italic;">Bienvenido a HIDS {% if username %}
        {{username | capitalize}}
    {% endif %} !!!!</h1>
    <div class="list-group">
  <a href=" {{url_for('home')}} " class="list-group-item list-group-item-action active">
    Home
  </a>  <!-- con url_for cuando le hacemos click lo que hacemos es llamar la funcion lista_resultado, y ahi enviamos el parametro el id y titulo a la funcion lista_resutltado,  -->
  <a href="{{url_for('lista_resultado', id='1', titulo='Analizar archivo ACCESS.LOG')}}" class="list-group-item list-group-item-action">1- Analizar archivo ACCESS.LOG</a>
  <a href="{{url_for('lista_resultado', id='2', titulo='Analizar usuarios activos y ultimos usuarios logeados en el sistema con la Base de Datos')}}" class="list-group-item list-group-item-action">2- Analizar usuarios activos y ultimos usuarios logeados en el sistema con la Base de Datos</a>
  <a href="{{url_for('lista_resultado', id='3', titulo='Analizar ataques dns del archivo de ataques dns')}}" class="list-group-item list-group-item-action">3- Analizar ataques dns del archivo de ataques dns</a>
  <a href="{{url_for('lista_resultado', id='4', titulo='Verificar cola de correos electronicos')}}" class="list-group-item list-group-item-action">4- Verificar cola de correos electronicos</a>
  <a href="{{url_for('lista_resultado', id='5', titulo='5- Analizar tareas programas de Crontab en el sistema')}}" class="list-group-item list-group-item-action">5- Analizar tareas programas de Crontab en el sistema</a>
  <a href="{{url_for('lista_resultado', id='6', titulo='6- Analizar envios masivos de mails en el archivo de ataques de correo')}}" class="list-group-item list-group-item-action">6- Analizar envios masivos de mails en el archivo de ataques de correo'</a>
  <a href="{{url_for('lista_resultado', id='7', titulo='7 -Analizar archivo logsecure')}}" class="list-group-item list-group-item-action">7 -Analizar archivo logsecure</a>
  <a href="{{url_for('lista_resultado', id='8', titulo='8- Analizar firmas md5 de archivos binarios')}}" class="list-group-item list-group-item-action">8- Analizar firmas md5 de archivos binarios</a>
  <a href="{{url_for('lista_resultado', id='9', titulo='9- Analizar sniffers en el sistema')}}" class="list-group-item list-group-item-action">9- Analizar sniffers en el sistema</a>
  <a href="{{url_for('lista_resultado', id='10', titulo='10- Analizar si existen ejecutables en /TMP')}}" class="list-group-item list-group-item-action">10- Analizar si existen ejecutables en /TMP</a>
  <a href="{{url_for('lista_resultado', id='11', titulo='11- Analizar procesos que consumen mucha memoria')}}" class="list-group-item list-group-item-action">11- Analizar procesos que consumen mucha memoria</a>
  <a href="{{url_for('home')}}" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Hecho por Fabrizio Paiva y Oliva Mena</a>
</div>
{% endblock %}
