<!DOCTYPE html>    <!-- nuestra plantilla de html simple, importa los estatico, utiliza bootstrap, que es un framework o libreria que te da todo hecho el html, es basicamente un html adaptado a tus necesidades, el main.css le da diseño y estilo a la pagina -->
<html>
<head>
	<title>HIDS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">     <!-- nav se encargar de construir todo el diseño de nuestra pagina-->
  <a class="navbar-brand" href=" {{url_for('home')}} ">HIDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href=" {{url_for('home')}} ">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=" {{url_for('about')}} ">about</a>
      </li>
      
    </ul>
  </div>
</nav>

<div class="container pd-4">
	{% block content %}  <!-- block content es una funcion de flask, te permite editar un .html, si importas un htmml te permite colocar cosas a tu necesidad  -->

	{% endblock content %}
</div>



	
</body>
</html>